.navContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .navUser{
        width: 50%;
    }
    .logoHeader{
        width: 30%;
    }
    
}