@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.logoText{
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    font-size: 103px;
    color:#1F7C3A
}

.logoImg{
    width: 30%;
}