@import './views/app';

@import './components/Home';
@import './components/Footer';
@import './components/Main';
@import './components/Nav';
@import './components/Login';
@import './components/SignUp';